<mat-card>
  <mat-card-content
    [formGroup]="form"
  >

    <!-- rediviser en un compo -->
    <div *ngIf="cycles">
      <mat-form-field>
        <mat-label>{{ cycleLabel }}</mat-label>
        <mat-select
          formControlName="selectedCycle">
          <mat-option *ngFor="let cycle of cycles"
                      [value]="cycle"
          >
            {{ cycle.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="versions">
      <mat-form-field>
        <mat-label>{{ versionLabel }}</mat-label>
        <mat-select
          formControlName="selectedVersion">
          <mat-option *ngFor="let version of versions"
                      [value]="version"
          >
            {{ version.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="dates">
      <mat-form-field>
        <mat-label>{{ dateLabel }}</mat-label>
        <mat-select
          formControlName="selectedDate">
          <mat-option *ngFor="let date of dates"
                      [value]="date"
          >
            {{ date.date }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-card-content>
</mat-card>
