<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <mat-select [formControl]="control">
    <mat-option *ngFor="let option of options">
      {{option | displayValue : display}}
    </mat-option>
  </mat-select>
</mat-form-field>
